---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - forgejo.actions.io.github.com
  resources:
  - runnerdeployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - forgejo.actions.io.github.com
  resources:
  - runnerdeployments/finalizers
  verbs:
  - update
- apiGroups:
  - forgejo.actions.io.github.com
  resources:
  - runnerdeployments/status
  verbs:
  - get
  - patch
  - update
