apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: forgejo-act-runner-controller
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager
  namespace: system
